@import "./normalize";
@import "./variables/global.scss";
@import "./themes/dark.scss";
@import "./themes/light.scss";
@import "./fonts/index.scss";

/* .root {
  background: var(--background-secondary);
     min-height: 100vh; 
} */

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
