.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--facebook-line-gray);
  border-bottom: 1px solid var(--facebook-line-gray);
  padding: 5px 10px;
}
